<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Show</title>
</head>
<body>
    <h1>Student id: <%= student.id %> </h1>
    <h2>Student Name: <%= student.student %> </h2>
    <h3>Student Moto: <%= student.moto %> </h3>
    <a href="/student">back</a>
    <a href="/student <%= student.id %>/edit ">edit</a>
</body>
</html>